.display-content {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
}

.search-bar {
  display: flex;
  flex-basis: 100%;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 25px;
  background-color: white;
  height: 24px;
  padding: 9px;
  border-radius: 5px;
  align-items: center;
  gap: 16px;
}

.display-recent {
  background-color: #ccc;
  /* background-color: #F5F6FC; */
  margin: 0 auto;
  width: 94%;
}

@media only screen and (min-width: 480px) {
  .display-recent {
    background-color: #ccc;
    /* background-color: #F5F6FC; */
    width: 94%;
  }
}
@media only screen and (min-width: 768px) {
  .display-recent {
    background-color: #ccc;
    /* background-color: #F5F6FC; */

    width: 94%;
  }
}
