.display-content {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.search-wrapper {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
  flex-basis: 90%;
  margin-left: 16px;
  margin-right: 16px;

  background-color: white;
  height: 24px;
  padding: 9px;
  border-radius: 5px;
  align-items: center;
  max-height: 29px;
  gap: 16px;
}

.display-recent {
  background-color: #f5f6fc;
  margin: 0 auto;
  width: 96%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 480px) {
  .display-recent {
    background-color: #f5f6fc;
    width: 96%;
  }
  .toggle-container {
    height: 32px;
    width: 32px;
    background: white;
    align-items: center;
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: center;
  }
  .search-bar {
    display: flex;
    flex-basis: 80%;
    margin-left: 16px;
    margin-right: 16px;
    background-color: white;
    height: 24px;
    padding: 9px;
    border-radius: 5px;
    align-items: center;
    max-height: 29px;
    gap: 16px;
  }
}
@media only screen and (min-width: 768px) {

  .search-bar {
    display: flex;
    flex-basis: 80%;
    margin-left: 16px;
    margin-right: 16px;
    background-color: white;
    height: 24px;
    padding: 9px;
    border-radius: 5px;
    align-items: center;
    max-height: 29px;
    gap: 16px;
  }
}

@media only screen and (min-width: 1024px) {
 
  .search-bar {
    display: flex;
    flex-basis: 100%;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 25px;
    background-color: white;
    height: 24px;
    padding: 9px;
    border-radius: 5px;
    align-items: center;
    max-height: 29px;
    gap: 16px;
  }
}
