.wrapper-dashboard {
  height: 100vh;
  width: 100%;
  background-color: #f5f6fc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-info {
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid #e0e7f1;
  align-items: center;
}

.storage-section {
  padding: 16px 24px 32px 36px;
  display: flex;
  flex-flow: column;
}

.circle {
  height: 139px;
  width: 139px;
  position: relative;
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.border {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  border-radius: 50%;
}

.border-right-top {
  height: 100px;
  width: 100px;
  fill: none;
  stroke: #4ac29d;
  stroke-width: 12;
  stroke-linecap: round;
}

.internal-circle {
  height: 115px;
  width: 115px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.caption {
  text-align: center;
}

.documents-section {
  margin-top: 16p;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.space-wrapper {
  width: 56px;
  height: 24px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 70%;
  border-radius: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

  padding: 16px;

  margin-bottom: 32px;
}

.more-space-section {
  display: flex;
  margin: auto;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: white;
  border-radius: 18px;
  gap: 8px;
}

.linear-div {
  min-height: 72px;
  max-width: 120px;
  border-radius: 11px;
  background: linear-gradient(270deg, #689ef8 0%, #ff6860 56.25%, #ff9f00 100%);
}

.upgrade-btn {
  max-height: 32px;
  width: 116px;
  background-color: #ff9f00;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  border: none;
  color: white;
  font-size: 10px;
  line-height: 12px;
  padding: 10px 16px 10px 16px;
  margin: auto;
}
