.wrapper-dashboard {
  width: 100%;
  background-color: #f5f6fc;
}

.user-info {
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid #e0e7f1;
  align-items: center;
}

.storage-section {
  padding: 16px 24px 32px 36px;
  display: flex;
  flex-flow: column;
}

.circle {
  height: 139px;
  width: 139px;
  position: relative;
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  border-radius: 50%;
  border: 12px solid;
  border-right-color: #ff9f00;
  border-top-color: #4ac29d;
  border-bottom-color: #bcbeca;
  border-left-color: #689ff8;
}

.border-right-top {
  height: 100px;
  width: 100px;
  fill: none;
  stroke: #4ac29d;
  stroke-width: 12;
  stroke-linecap: round;
}

.internal-circle {
  height: 115px;
  width: 115px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.caption {
  text-align: center;
}

.documents-section {
  margin-top: 16p;
  margin-left: 32px;
  margin-right: 40px;
}

.space-wrapper {
  width: 56px;
  height: 24px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
