.wrapper-dashboard {
  width: 100%;
  background-color: #f5f6fc;
}

.user-info {
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid #e0e7f1;
  align-items: center;
}

.storage-section {
  padding: 16px 24px 32px 36px;
  display: flex;
  flex-flow: column;
}

.circle {
  height: 139px;
  width: 139px;
  position: relative;
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  border-radius: 50%;
  border: 12px solid;
  border-right-color: #ff9f00;
  border-top-color: #4ac29d;
  border-bottom-color: #bcbeca;
  border-left-color: #689ff8;
}

.border-right-top {
  height: 100px;
  width: 100px;
  fill: none;
  stroke: #4ac29d;
  stroke-width: 12;
  stroke-linecap: round;
}

.internal-circle {
  height: 115px;
  width: 115px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.caption {
  text-align: center;
}

.documents-section {
  margin-top: 16p;
  margin-left: 32px;
  margin-right: 40px;
}

.space-wrapper {
  width: 56px;
  height: 24px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-space-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width:80%;
    margin: auto;
    background-color: white;
    border-radius: 18px;

}


.linear-div {
   
    height: 72px;
    margin: 16px 40px 24px 40px;
    border-radius: 11px;
    background: linear-gradient(270deg, #689EF8 0%, #FF6860 56.25%, #FF9F00 100%)
}

.upgrade-btn{
    height: 100%;
    background-color: #FF9F00;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: none;
    color: white;
    font-size: 10px;
    line-height: 12px;
    padding: 10px 16px 10px 16px;
    margin: 12px 40px 16px 40px;
    
}
